.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;

}

.App-link {
  color: #09d3ac;
}

nav{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

}
a.navbar-brand a.brand-team
{
  font-size: 60%;
  color: azure;
}
h2.card-title
{
  color: #373B44;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
div.form-group{
  height: 95px;
  padding: 10px;
}
button.btn
{
  width: 100%;
}
p.text-monospace:hover{
  color: #6DD5FA;
}
button.btn.btn-dark.signup:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
span.navbar-text
{
  padding-left: 15px;
}
span.navbar-text:hover{
  color:white;
}